body {
  color: #566787;  
  font-family: 'Roboto', sans-serif;
}

/* .table-wrapper {
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  }

  .table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
  }

  .table-title h2 {
    margin: 8px 0 0;
    font-size: 22px;
  }
  
  table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
  }

  table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
  }
  
  table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
  }

  table.table td:last-child {
    width: 130px;
  }

  table.table td a {
    color: #a0a5b1;
    margin: 0 5px;
    display: flex;
  }

  table.table td a.view {
    color: #03A9F4;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

  }

  table.table > tbody > tr > td { 
    vertical-align: middle;
  }       */


  
#data imagem {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  vertical-align: middle;
}

table.table #imagem {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

#data td{  
  vertical-align: middle;
}

#data button{  
  margin-left: 2px;
}

  .pagination {
    float: right;
    margin: 0 0 5px;
  }

  .pagination li a {
    border: none;
    font-size: 95%;
    width: 30px;
    height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 30px !important;
    text-align: center;
    padding: 0;
  }

  .pagination li a:hover {
    color: #666;
  }

  .pagination li.active a {
    background: #03A9F4;
  }

  .pagination li.active a:hover {
    background: #0397d6;
  }

  .pagination li.disabled i {
    color: #ccc;
  }

  .pagination li i {
    font-size: 16px;
    padding-top: 6px
  }

  .hint-text {
    float: left;
    margin-top: 6px;
    font-size: 95%;
  }

  #imagem img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    left: 20%;
    transform: translate(-20%);
    float:left;
    /* margin-right: 35px; */
    
  }

  #imagem p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 19px;
  }
  
  .buttons-filtros{
    display: flex;
    flex-direction: column;
    width: 150px;
    height:auto;
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
  }